nav img {
  height: 90px;
}

nav {
  font-size: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 65px;
  margin-top: 30px;
  background-color: #ffffd8;
  height: 50px;
  // overflow: visible;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
