nav img {
  height: 90px;
}

nav {
  font-size: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 65px;
  background-color: #ffffd8;
  height: 50px;
  overflow: visible;
}
