footer {
  margin-top: 200px;
  padding: 55px;
  background: black;
  color: white;
}

footer h2 {
  color: #fff;
  font-family: Field Gothic;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 65px; /* 130% */
  width: 582px;
  height: 312px;
  flex-shrink: 0;
}

.footer-buy {
  display: flex;
  flex-direction: row;
  gap: 130px;
}

.footer-buy-text {
  margin-top: 205px;
}

.footer-buy-text a {
  background: #fff;
  color: black;
  padding: 20px 10px;
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: ease-out;
}

.footer-buy-text a:hover {
  background: #000000;
  color: #fff;
  border: solid white 1px;
}

.accordeon {
  display: flex;
  flex-wrap: wrap;
  margin: 60px 0 0 5px;
  width: 90%;
  max-width: 60em;
  .acc {
    flex: 1 0 29em;
    margin: 0.5em;
    font-family: "Open Sans", sans-serif;
    display: flex;
    flex-direction: column;
    input {
      display: none;
      &:checked {
        ~ p {
          font-size: 20px;
          opacity: 1;
          transition: font-size 300ms 0ms ease-in, opacity 300ms 300ms ease-in;
        }
      }
    }
    label {
      font-weight: bold;
      text-transform: uppercase;
      font-size: 16px;
      padding: 0.5em 1em;
      cursor: pointer;
    }
    p {
      font-size: 0;
      line-height: 1.25;
      padding: 1rem;
      opacity: 0;
      transition: font-size 300ms 300ms ease-in, opacity 300ms 0ms ease-in;
    }
  }
}

.footer-bottom {
  display: flex;
  flex-direction: row;
  background: #000000;
  color: #fff;
  padding: 80px;
  margin-top: 30px;
  gap: 750px;
}

.footer-bottom img {
  height: 50px;
}
